* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  background: cornflowerblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 20px;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #e2e8f0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  margin: 0 auto;
  padding: 20px;
}

.card {
  width: 200px;
  height: 300px;
  position: relative;
  perspective: 1000px;
}

.card__inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.65s cubic-bezier(0.2, 0.65, 0.25, 1);
}

.card:hover .card__inner {
  transform: rotateY(180deg);
}

.card__front,
.card__back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 12px;
}

.card__front {
  background: rgb(64, 126, 240);
 color: #e2e8f0;
}

.card__back {
  transform: rotateY(180deg);
}

.card__back img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.label {
  font-size: 24px;
  font-weight: 700;
}
